<h1>Convert <%= @root_currency %> to <%= @target_currency %></h1>

<a>1 <%= @root_currency %> equals <%= @conversion_rate %> <%= @target_currency %>.</a>

<p> Go <a href="/forex/<%= @root_currency%>">back</a>.</p>
